<style>
    .navbar {
        gap: 20px;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 15px 0;
        z-index: 1000;
        color: rgb(0, 255, 0);
        }
        body {
            margin-bottom: 60px;
        }
</style>
    <div class="bottom-navbar">
        <a href="/Proyek E-Kantin/Kantin/Pembeli/index.php">Menu</a>
        <a href="/Proyek E-Kantin/Kantin/Pembeli/keranjang.php">Keranjang</a>
        <a href="">Pesanan</a>
        <a href="">Profil</a>
    </div>