<style>
    .navbar {
            display: flex;
            gap: 20px;
            background-color: rgb(0, 255, 0);
        }
</style>
<header>
    <div class="navbar">
        e-Kantin
        <a href="/Proyek E-Kantin/Kantin/Penjual/Menu/index.php">Menu</a>
        <a href="/Proyek E-Kantin/Kantin/Penjual/index.php">Dashboard</a>
        <a href="/Proyek E-Kantin/Kantin/Penjual/pesanan.php">Pesanan</a>
        <a href="/Proyek E-Kantin/Kantin/Penjual/stok.php">Stok</a>
        </div>
</header>